{% extends 'base.html' %}

{% block content %}

{% load static %}

{% for msg in all_msgs %}

<div class="msg_outer">
    <p class="msg_details">
        <span class="msg_author">{{msg.author}}</span>, on <span class="msg_date">{{msg.date}}</span>
    </p>
    <div class="msg_text">
        {{msg.text}}
    </div>

    <div class="msg_actions">

        <a href="{% url 'new-comment' msg.id %}"><img src="{% static 'comm.png' %}" alt="logo" class="comm_icon"></a>
    </div>

</div>

{% endfor %}


{% endblock %}


{% load static %}
{% block scripts %}
{{ block.super }}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}